<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons"> menu </i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin">Admin</button>
      <button mat-menu-item routerLink="/employee">Employee</button>
    </mat-menu>
    <span>Performance Review: Employee</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<h2>Login as:</h2>
<div class="employees-login-container">
  <button
    mat-button
    [routerLink]="['/employee-profile', employee._id]"
    *ngFor="let employee of employees"
  >
    {{ employee.name }}
  </button>
</div>
