.employees-container {
  mat-accordion {
    margin-bottom: 20px;
    width: 80%;
    .icons-container {
      width: 5%;
      display: flex;
      justify-content: space-between;

      i {
        cursor: pointer;
      }
    }
  }

  button {
    margin-top: 30px;
  }
}
