<div class="employees-container">
  <ul>
    <li *ngFor="let employee of employees">
      <mat-card>
        <div
          class="name-container"
          mat-raised-button
          [routerLink]="['/employee-profile', employee._id]"
        >
          {{ employee.name }}
        </div>
        <div class="icons-container">
          <i class="material-icons" (click)="updateEmployeeName(employee)">
            edit
          </i>
          <i class="material-icons" (click)="deleteEmployee(employee._id)">
            delete_forever
          </i>
        </div>
      </mat-card>
    </li>
  </ul>
</div>

<button mat-raised-button color="primary" (click)="openAddDialog()">
  Add New Employee
</button>
