.employees-container {
  li {
    list-style: none;
    margin-bottom: 20px;

    mat-card {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name-container {
        width: 95%;
        cursor: pointer;
      }

      .icons-container {
        width: 5%;
        display: flex;
        justify-content: space-between;

        i {
          cursor: pointer;
        }
      }
    }

    mat-card:hover {
      background-color: #3f51b5;
    }
  }
}
