<div class="employees-container">
  <h2>Current Employees</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let employee of employees">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{ employee.name }}</h4>
        </mat-panel-title>
        <!--
          <mat-panel-description
            >Rating: {{ employee.rating }}
          </mat-panel-description>
        -->
      </mat-expansion-panel-header>
      <div class="panel-container">
        <div class="reviews-container">
          <h3>Reviews:</h3>
          <ul>
            <li *ngFor="let review of employee.reviews">
              <span *ngIf="!review.isEdit">{{ review.text }}</span>
              <mat-form-field *ngIf="review.isEdit">
                <input matInput [(ngModel)]="review.text" />
              </mat-form-field>
              <i
                *ngIf="!review.isEdit"
                class="material-icons edit"
                (click)="toggleReviewEdit(review)"
              >
                edit
              </i>
              <!--
                <i
                  *ngIf="!review.isEdit"
                  class="material-icons delete"
                  (click)="deleteReview(review, employee)"
                >
                  close
                </i>
              -->
              <i
                *ngIf="review.isEdit"
                (click)="updateReview(review, employee)"
                class="material-icons check"
              >
                check
              </i>
            </li>
          </ul>
        </div>
        <div class="reviewers-container">
          <h3>Assigned Reviewers:</h3>
          <ul>
            <li *ngFor="let reviewer of employee.reviewers">
              {{ reviewer.name }}
            </li>
          </ul>
          <button
            class="add-employee-btn"
            mat-raised-button
            color="primary"
            (click)="openDialog('reviewer', employee)"
          >
            Assign Reviewer
          </button>
        </div>
        <div class="action-btn-container">
          <div class="icons-container">
            <button mat-button (click)="openDialog('edit', employee)">
              <i class="material-icons edit"> edit </i>
            </button>
            <button mat-button (click)="deleteEmployee(employee._id)">
              <i class="material-icons delete"> delete_forever </i>
            </button>
          </div>
        </div>
      </div>
      <mat-form-field>
        <input
          matInput
          placeholder="Add a review"
          [(ngModel)]="currentReview.text"
        />
      </mat-form-field>
      <button mat-button (click)="saveReview(employee)">
        <i class="material-icons check"> check </i>
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <button
    class="add-employee-btn"
    mat-raised-button
    color="primary"
    (click)="openDialog('add')"
  >
    Add New Employee
  </button>
</div>
