/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-bg {
  /* background-image: linear-gradient(-90deg, #eeeeee, rgb(112, 173, 201)); */
  background-color: #eeeeee;
}
