mat-toolbar {
  background-color: #1e90ff;
  color: #ffffff;

  mat-toolbar-row {
    padding-left: 0;
  }

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  i {
    margin-left: 10px;
    cursor: pointer;
  }
}

.employee-profile-container {
  background-color: #eeeeee;
  padding: 30px;
  min-width: 100%;

  .mat-card-image {
    width: 185px;
  }

  .mat-card-image {
    margin: 0;
  }

  .employee-panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-container {
      width: 85%;
      display: flex;

      .input-text {
        width: 75%;
        padding-right: 4%;
      }
      .input-rating {
        width: 20%;
      }
    }
    mat-form-field {
      width: 100%;
    }
  }
}

.btn-container {
  display: flex;

  button {
    margin-right: 20px;
  }
}
