<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons"> menu </i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin">Admin</button>
      <button
        mat-menu-item
        [routerLink]="['/employee-profile', employee._id]"
        *ngFor="let employee of employees"
      >
        {{ employee.name }}
      </button>
    </mat-menu>
    <span>Performance Review </span> <span class="example-spacer"></span>
    {{ currentEmployee ? currentEmployee.name : "" }}
    <i class="material-icons"> account_circle </i>
  </mat-toolbar-row>
</mat-toolbar>
<div class="employee-profile-container" *ngIf="currentEmployee">
  <h2>Welcome back {{ currentEmployee.name }}!</h2>
  <div class="current-employee-stats">
    <h4>Job Title: {{ currentEmployee.title }}</h4>
    <h4>Rating: {{ avgRating(currentEmployee.ratings) || 0 }}</h4>
  </div>

  <img mat-card-image src="{{currentEmployee.image}}" />
  <h4 *ngIf="writeReviewFor && writeReviewFor.length">
    Colleagues requiring your feedback:
  </h4>
  <h4 *ngIf="!writeReviewFor.length">
    Hurrayy!! You do not have any more colleagues to provide feedback.
  </h4>

  <mat-accordion *ngIf="writeReviewFor && writeReviewFor.length">
    <mat-expansion-panel *ngFor="let employee of writeReviewFor">
      <mat-expansion-panel-header>
        <mat-panel-title
          ><strong> {{ employee.name }}</strong>
        </mat-panel-title>
        <mat-panel-description> {{ employee.title }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="employee-panel-container">
        <img mat-card-image src="{{employee.image}}" />
        <div class="text-container">
          <div class="input-text">
            <mat-form-field>
              <textarea
                matInput
                placeholder="Provide your feedback"
                [(ngModel)]="employee.employeeReview.text"
              ></textarea>
            </mat-form-field>
            <div class="btn-container">
              <button
                mat-raised-button
                color="primary"
                (click)="submitFeedback(employee)"
              >
                Submit
              </button>
            </div>
          </div>

          <mat-form-field class="input-rating">
            <mat-select
              placeholder="Rating"
              (selectionChange)="updateRatingByEmployee($event, employee)"
              [(ngModel)]="employee.employeeRating"
            >
              <mat-option
                *ngFor="let rating of availableRatings"
                [value]="rating"
              >
                {{ rating }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <h4>Reviews By You:</h4>
  <app-table
    [feedbacks]="reviewsByYou"
    [displayedColumns]="[
      'employeeName',
      'employeeTitle',
      'feedback',
      'employeeRating'
    ]"
  ></app-table>
</div>
