<div class="employee-profile-container">
  <h2 *ngIf="currentEmployee">Welcome {{ currentEmployee.name }}!</h2>
  <p>Your peers require your feedback..</p>
  <p *ngIf="!writeReviewFor.length">
    Hurrayy!! You do not have any more peers to provide feedback.
  </p>

  <mat-accordion *ngIf="writeReviewFor.length">
    <mat-expansion-panel *ngFor="let employee of writeReviewFor">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{ employee.name }}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Provide your feedback"
          [(ngModel)]="employeeFeedback"
        ></textarea>
      </mat-form-field>
      <div class="btn-container">
        <button
          mat-raised-button
          color="accent"
          (click)="submitFeedback(employee, false)"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="submitFeedback(employee, true)"
        >
          Submit
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
