<h2>{{ data.employee.name }}</h2>
<h3>{{ pageTitles[data.mode] }}</h3>

<mat-form-field
  class="example-full-width"
  *ngIf="data.mode == 'add' || data.mode == 'edit'"
>
  <input matInput placeholder="Name" [(ngModel)]="employee.name" />
</mat-form-field>
<mat-form-field
  class="example-full-width"
  *ngIf="data.mode == 'add' || data.mode == 'edit'"
>
  <input matInput placeholder="Job Title" [(ngModel)]="employee.title" />
</mat-form-field>
<mat-list role="list" *ngIf="data.mode == 'reviewer'">
  <mat-list-item role="listitem" *ngFor="let reviewer of reviewers"
    ><mat-checkbox
      [value]="reviewer.name"
      (change)="selectReviewer(reviewer)"
      [checked]="reviewer.selected"
      >{{ reviewer.name }}</mat-checkbox
    ></mat-list-item
  >
</mat-list>
<mat-form-field *ngIf="data.mode === 'reviews'">
  <input matInput placeholder="Add a review" [(ngModel)]="currentReview.text" />
</mat-form-field>
<button
  mat-button
  color="primary"
  (click)="saveReview()"
  *ngIf="data.mode === 'reviews'"
>
  Add Review
</button>
<!--
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Rating" [(ngModel)]="rating" />
  </mat-form-field>
-->
<button *ngIf="data.mode == 'add'" mat-raised-button (click)="createEmployee()">
  Create Employee
</button>
<button
  *ngIf="data.mode == 'edit'"
  mat-raised-button
  (click)="updateEmployee()"
>
  Update Employee
</button>
<button
  *ngIf="data.mode == 'reviewer'"
  mat-raised-button
  (click)="assignReviewers()"
>
  Add Reviewers
</button>
